<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bee.email %>
</p>

<%= link_to 'Edit', edit_bee_path(@bee) %> |
<%= link_to 'Back', bees_path %>
