<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @selfy.description %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @selfy.source_url %>
</p>

<%= link_to 'Edit', edit_selfy_path(@selfy) %> |
<%= link_to 'Back', selfies_path %>
