<h1>Listing super_users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @super_users.each do |super_user| %>
      <tr>
        <td><%= super_user.name %></td>
        <td><%= super_user.email %></td>
        <td><%= link_to 'Show', super_user %></td>
        <td><%= link_to 'Edit', edit_super_user_path(super_user) %></td>
        <td><%= link_to 'Destroy', super_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Super user', new_super_user_path %>
