<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @super_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @super_user.email %>
</p>

<%= link_to 'Edit', edit_super_user_path(@super_user) %> |
<%= link_to 'Back', super_users_path %>
